<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <link rel="stylesheet" type="text/css" href="/header_footer.css" />
    <script
      src="https://kit.fontawesome.com/8868674f05.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('header') %> <%- include('nav') %>

    <section>
      <h2 class="special-h2">About Us</h2>
      <p>
        At Flavour Harbour, we believe that cooking is an art and food is a
        celebration. Our platform is a vibrant community where food enthusiasts
        and culinary experts come together to share their passion for creating
        mouthwatering dishes.
      </p>
      <p>
        Whether you're a seasoned chef or a home cook experimenting in the
        kitchen, Flavour Harbour is your go-to place for discovering and sharing
        amazing recipes.
      </p>
      <h2 class="special-h2">Our Special Mission</h2>
      <p>
        Our mission is to inspire and connect people through the joy of cooking
        and the love of good food. Join our community, explore a world of
        flavors, and embark on a culinary journey like never before. Let's make
        every meal a masterpiece!
      </p>
    </section>
  </body>
  <%- include('footer') %>
</html>
