<header>
  <div class="header-content">
    <a href="/" class="logo">
      <img src="/image/flavour.jpg" alt="flavour logo" />
    </a>
    <h1><%= pageTitle %> Explore Tasty Recipes</h1>
    <a href="/" class="logo">
      <img src="/image/flavour.jpg" alt="flavour logo" />
    </a>
  </div>
</header>
<nav>
  <ul>
    <li><a href="login">Login</a></li>
    <li><a href="register">Register</a></li>
    <li><a href="recipes">Recipes</a></li>
    <li><a href="about">About Us</a></li>
  </ul>
  <form action="/search-result" method="GET" class="search-form">
    <input id="search-box" type="text" name="keyword" />
    <input type="submit" value="Search" id="search-btn" />
  </form>
</nav>
