<header>
  <div class="header-content">
    <a href="/" class="logo left">
      <img src="/image/flavour.jpg" alt="flavour logo" />
    </a>
    <h1><%= pageTitle %> Explore Tasty Recipes</h1>
    <a href="/" class="logo right">
      <img src="/image/flavour.jpg" alt="flavour logo" />
    </a>
  </div>
</header>
