<nav>
  <ul>
    <li><a href="/about">About Us</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <a href="/random-recipe">Ramdom Recipe</a>
    <li><a href="/dashboard">Dashboard</a></li>
  </ul>
  <form action="/search" method="GET" class="search-form">
    <input id="search-box" type="text" name="keyword" />
    <input type="submit" value="Search" id="search-btn" />
  </form>
</nav>
