header {
  background-color: #ffd2c4ba;
  color: black;
  padding: 10px 20px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
}
.logo img {
  max-height: 80px;
  width: auto;
}

.logo.left {
  margin-left: auto;
}

.logo.right {
  margin-right: auto;
}

h1 {
  margin: 0;
  flex-grow: 1;
}

nav {
  background-color: #ffd2c4ba;
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #757373;
  font-weight: bold;
}

nav a:hover {
  color: #d900ff;
}

.search-form {
  margin-top: 10px;
  text-align: right;
}

#search-box {
  background-color: antiquewhite;
  padding: 5px;
  border-radius: 5px;
}

#search-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #45a049;
}

/* footer */

footer {
  background-color: #ffd2c4ba;
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content i {
  font-size: 40px;
  margin: 0 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.footer-content i:hover {
  transform: scale(1.1);
}

/* button logout */

.logout-button {
  display: inline-block;
  padding: 4px 8px;
  background-color: rgb(255, 115, 0);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: rgb(226, 24, 24);
}
